<!DOCTYPE html>
<html>
  <head>
    <title>Udacity Welcome</title>
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
  </head>

  <body>
    <h2>Welcome, {{username}}!</h2><a class="login-link" href="/logout">logout</a>
	  |
      <a class="login-link" href="/blog/newpost">new post</a>
	  |
      <a class="login-link" href="/blog">main blog</a>
	<br>
	<p class="filler-text">Aenean massa elit, consequat vel lacinia vel, tincidunt vel lorem. Aenean velit eros, consequat id urna in, ultrices tempus urna. 
	Maecenas ut justo quis tellus fringilla tincidunt. In ultricies eros a pretium facilisis. In hac habitasse platea dictumst. Curabitur tincidunt auctor porta. 
	Aliquam posuere erat viverra augue faucibus rhoncus. Pellentesque lacinia, enim eu ultricies tincidunt, leo ipsum finibus ipsum, et interdum enim mi sed est. 
	Vivamus sed tincidunt tortor. Quisque luctus lacus in purus tincidunt, a iaculis justo ultrices. Suspendisse potenti. Duis ac pellentesque lectus. 
	Morbi et ipsum magna. Duis ac enim at tortor pharetra pellentesque ut ut justo. Ut vitae urna lectus. 
	Nullam rhoncus odio non leo vehicula, vitae laoreet tortor ornare.</p>
  </body>
</html>
